.sortable-row {
    gap: var(--mantine-spacing-xs);
    align-items: flex-start;
    position: relative;

    &:hover>* {
        opacity: 1;
    }

    &-center-buttons {
        opacity: 0;
        position: absolute;
        top: calc(100% - 4px);
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        z-index: 100;
        flex-wrap: nowrap;

        @media (min-width: $mantine-breakpoint-sm) {
            display: none;
        }
    }

    &-side-buttons {
        opacity: 0;
        position: absolute;
        flex-wrap: nowrap;
        gap: 0;
        right: 100%;
        display: none;
        top: 0;
        z-index: 100;
        will-change: opacity;
        transition: opacity ease 200ms;

        @media (min-width: $mantine-breakpoint-sm) {
            display: flex;
        }

        &[data-menu-opened=true] {
            opacity: 1;
        }
    }
}
